p a {
    color: var(--black);
    border-bottom: 2px var(--accent) solid;
    transition: 150ms ease-in-out;
}

p a:hover {
    color: var(--accent);
    border-bottom: 0 var(--accent) solid;
    transition: 150ms ease-in-out;
}

.projectContent--wrapper > div:first-child {
    background-color: #000;
}

.react-slideshow-container + div.indicators {
    margin-top: 10px !important;
}

.react-slideshow-container + div.indicators > div {
    background-color: var(--white) !important;
    opacity: 0.5 !important;
}

.react-slideshow-container + div.indicators > div.active {
    background-color: var(--white) !important;
    opacity: 1 !important;
}

/* React Slideshow Overwrite Arrows */
.react-slideshow-container .nav:first-of-type {
    margin-right: -50% !important;
    cursor: url("data:image/svg+xml,%3Csvg width='68' height='49' viewBox='0 0 68 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:difference'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M61.1998 28.0005L68 28.0005L68 21.0003L61.1998 21.0003L61.1998 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M54.3995 28.0005L61.1997 28.0005L61.1997 21.0003L54.3995 21.0003L54.3995 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M47.5992 28.0005L54.3994 28.0005L54.3994 21.0003L47.5992 21.0003L47.5992 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M40.8004 28.0005L47.6006 28.0005L47.6006 21.0003L40.8004 21.0003L40.8004 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M34.0001 28.0005L40.8003 28.0005L40.8003 21.0003L34.0001 21.0003L34.0001 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M27.1998 28.0005L34 28.0005L34 21.0003L27.1998 21.0003L27.1998 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M20.3995 28.0005L27.1997 28.0005L27.1997 21.0003L20.3995 21.0003L20.3995 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M13.5992 21.0005L20.3994 21.0005L20.3994 14.0003L13.5992 14.0003L13.5992 21.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M6.80039 28.0005L13.6006 28.0005L13.6006 21.0003L6.80039 21.0003L6.80039 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M0.00010252 28.0005L6.80029 28.0005L6.80029 21.0003L0.000101908 21.0003L0.00010252 28.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M13.5992 42L20.3994 42L20.3994 34.9999L13.5992 34.9999L13.5992 42Z' fill='%2311EDD3'/%3E%3Cpath d='M20.3995 49L27.1997 49L27.1997 41.9999L20.3995 41.9999L20.3995 49Z' fill='%2311EDD3'/%3E%3Cpath d='M13.5992 14L20.3994 14L20.3994 6.99984L13.5992 6.99984L13.5992 14Z' fill='%2311EDD3'/%3E%3Cpath d='M20.3995 7L27.1997 7L27.1997 -0.000164509L20.3995 -0.000163914L20.3995 7Z' fill='%2311EDD3'/%3E%3Cpath d='M6.80038 34.9995L13.6006 34.9995L13.6006 27.9994L6.80038 27.9994L6.80038 34.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M6.80039 21.0005L13.6006 21.0005L13.6006 14.0003L6.80039 14.0003L6.80039 21.0005Z' fill='%2311EDD3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect x='68' y='49' width='68' height='49' transform='rotate(180 68 49)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"),
      pointer;
}

.react-slideshow-container .nav:last-of-type {
    margin-left: -50% !important;
    cursor: url("data:image/svg+xml,%3Csvg width='68' height='49' viewBox='0 0 68 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:difference'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M6.8002 20.9995H0V27.9997H6.8002V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M13.6005 20.9995H6.80029V27.9997H13.6005V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M20.4008 20.9995H13.6006V27.9997H20.4008V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M27.1996 20.9995H20.3994V27.9997H27.1996V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M33.9999 20.9995H27.1997V27.9997H33.9999V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M40.8002 20.9995H34V27.9997H40.8002V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M47.6005 20.9995H40.8003V27.9997H47.6005V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M54.4008 27.9995H47.6006V34.9997H54.4008V27.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M61.1996 20.9995H54.3994V27.9997H61.1996V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M67.9999 20.9995H61.1997V27.9997H67.9999V20.9995Z' fill='%2311EDD3'/%3E%3Cpath d='M54.4008 7H47.6006V14.0001H54.4008V7Z' fill='%2311EDD3'/%3E%3Cpath d='M47.6005 0H40.8003V7.00015H47.6005V0Z' fill='%2311EDD3'/%3E%3Cpath d='M54.4008 35H47.6006V42.0002H54.4008V35Z' fill='%2311EDD3'/%3E%3Cpath d='M47.6005 42H40.8003V49.0002H47.6005V42Z' fill='%2311EDD3'/%3E%3Cpath d='M61.1996 14.0005H54.3994V21.0006H61.1996V14.0005Z' fill='%2311EDD3'/%3E%3Cpath d='M61.1996 27.9995H54.3994V34.9997H61.1996V27.9995Z' fill='%2311EDD3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='68' height='49' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"),
      pointer;
}

.react-slideshow-container .nav {
    background: rgba(0,0,0,0) !important;
    height: calc(4 * var(--sqWidth)) !important;
    border-radius: 0 !important;
    width: 50% !important;
}

.each-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-top: 30px;
    height: calc(4 * var(--sqWidth));
  }
  
  .each-fade {
    display: flex;
  }

  .each-slide__img {
    max-width: 100%;
    max-height: calc( 4 * var(--sqWidth));
  }

  /* summary & Process Buttons*/
 .project__label {
     background-color: var(--white);
     z-index: 3;
     display: flex;
     align-content: center;
     justify-content: center;
     align-items: center;
     justify-items: center;
     text-align: center;
    transition: 150ms ease-in-out;    
}

 .project__label--inactive:hover {
    cursor: pointer;
    background-color: var(--black);
    transition: 150ms ease-in-out;
    color: var(--accent);

 }

 .project__label--summary {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
 }

 .project__label--process {
     grid-column: 3 / span 4;
     grid-row: 1 / 2;
 }

.project__label--inactive {
    box-shadow: var(--sqBorder);
}

 .project__text {
    padding: 5vw;
    box-shadow: inset 0 -1px 0 1px var(--gray);
 }



/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .project__label--summary {
        grid-column: 3 / 5;
     }
    
     .project__label--process {
         grid-column: 5 / 7;
     }

    .project__text {
        padding-left: 10vw;
        padding-right: 10vw;
    }

}


/* DESKTOP */
@media only screen and (min-width: 1024px) {

    .project__label--summary {
        grid-column: 1 / 3;
    }

    .project__label--process {
        grid-column: 3 / 5;
    }

    .projectContent--wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .project__text--scroller {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }

    .project__text {
        padding-top: 2vw;
        padding-bottom: 10vw;
        padding-left: 3vw;
        padding-right: 3vw;
        box-shadow: none;
    }

    .project__text--wrapper {
        width: calc(4 * var(--sqWidth));
        height: calc(5 * var(--sqWidth));
    }
    .projectContent--wrapper > div:first-child {
        width: calc(8 * var(--sqWidth));
        height: calc(5 * var(--sqWidth));
        z-index: 10;
    }

    .react-slideshow-container + div.indicators {
        padding-top: 40px !important;
    }
}