
/* React Slideshow Overwrite Arrowss */
.react-slideshow-container .nav:first-of-type {
    margin-right: -50% !important;
}

.react-slideshow-container .nav:last-of-type {
    margin-left: -50% !important;
}

.react-slideshow-container .nav {
    background: rgba(0,0,0,0) !important;
    height: 100vw !important;
    border-radius: 0 !important;
    width: 50% !important;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vw;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    max-width: 100%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    max-height: 100%;
  }

  /* Outcome & Process Buttons*/
 .project__label {
     background-color: var(--white);
     z-index: 3;
     display: flex;
     align-content: center;
     justify-content: center;
     align-items: center;
     justify-items: center;
     text-align: center;
 }

 .project__label--outcome {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
 }

 .project__label--process {
     grid-column: 3 / span 4;
     grid-row: 1 / 2;
 }

.project__label--inactive {
    box-shadow: var(--sqBorder);
}

 .project__label--active {
    box-shadow: inset 0 0.025rem 0 0.025rem var(--gray);
 }

 .project__txt {
     padding: 5vw;
 }
