.projectHero__cover {
    z-index: 2;
    grid-column: 1 / span 4;
    grid-row: 2 / 5;
    width: calc(4*var(--sqWidth));
    object-fit: cover;
    box-shadow: var(--sqBorder);
}

.projectHero__txt {
    z-index: 2;
    grid-column: 1 / span 4;
    grid-row: 5 / 10;
    background-color: var(--white);
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    box-shadow: var(--sqBorder);
}

.projectHero__project {
    padding-bottom: 3vw;
}

.projectHero__name {
    padding-bottom: 16px;
}

.projectHero__summary {
    padding-bottom: 16px;
}

.projectHero__link  {
    color: var(--black);
    border-bottom: 2px var(--accent) solid;
}

.projectHero__link--wrapper {
    padding-top: 16px;
    display: flex;
}

.projectHero__link--icon {
    width: 16px;
    margin-right: 8px;
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .projectHero__cover {
        grid-column: 1 / span 8;
        grid-row: 2 / 6;
        width: calc(8*var(--sqWidth));
    }

    .projectHero__txt {
        grid-column: 1 / span 8;
        grid-row: 6 / 10;
        flex-direction: row;    
    }

    .projectHero__info {
        width: 70%;
    }

    .projectHero__social {
        margin-left: 8vw;
    }

    .projectHero__project {
        font-size: 46px;
    }

    .projectHero__name {
        font-size: 30px;
    }

}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

    .projectHero__cover {
        grid-column: 5 / span 12;
        grid-row: 2 / 5;
        width: calc(8*var(--sqWidth));
    }

    .projectHero__txt {
        grid-column: 1 / span 4;
        grid-row: 2 / 5;
        padding: 4vw;
    }

    .projectHero__project {
        font-size: 3em;
        line-height: 110%;
    }
}