.hero {
  grid-column: 1 / span 4;
  grid-row: 1 / 6;
  box-shadow: var(--sqBorder);
  -webkit-box-shadow: var(--sqBorder);
  -moz-box-shadow: var(--sqBorder);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6vw;
  padding-right: 6vw;
  z-index: 1;
}

.hero__lead--wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.hero__smiley {
  height: 9vw;
}

.hero__brow {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.linkDown {
  grid-column: 4 / span 4;
  grid-row: 6 / 7;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--sqBorder);
  -webkit-box-shadow: var(--sqBorder);
  -moz-box-shadow: var(--sqBorder);
  transition: 150ms ease-in-out;
}

.arrowDown--wrapper:hover {
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.arrowDown--wrapper {
  background-color: var(--accent);
  width: var(--sqWidth);
  height: var(--sqWidth);
  box-shadow: var(--sqBorder);
  -webkit-box-shadow: var(--sqBorder);
  -moz-box-shadow: var(--sqBorder);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    grid-column: 1 / 8;
    grid-row: 2 / 6;
  }

  .hero__lead--wrapper {
    margin-bottom: 2vw;
    margin-top: 2vw;
  }

  .hero__smiley {
    height: 6.25vw;
  }

  .linkDown {
    grid-column: 8 / span 8;
    grid-row: 6 / 7;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  .hero {
    grid-column: 2 / 9;
    grid-row: 2 / 6;
  }

  .hero__lead--wrapper {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .hero__smiley {
    height: 4.25vw;
  }

  .hero__paragraph {
    max-width: 60vw;
  }

  .linkDown {
    grid-column: 11 / 12;
    grid-row: 5 / 6;
  }

  .arrowDown {
    width: 4vw;
    height: 4vw;
  }
}
