.hero {
  grid-column: 1  / span 4;
  grid-row: 1 / 7;
  box-shadow: var(--sqBorder);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6vw;
  padding-right: 6vw;
  z-index: 1;
}

.hero__lead--wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.hero__smiley {
  height: 14vw;
  margin-left: 16px;
}

.hero__brow {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.linkLeft {
  grid-column: 1 / span 4;
  grid-row: 7 / 8;
  background-color: var(--white);
  box-shadow: var(--sqBorder);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--sqBorder);
  transition: 150ms ease-in-out;
}

.linkLeft:hover {
  background-color: var(--accent);
  transition: 150ms ease-in-out;
}

.linkLeft__txt {
  color: var(--black);
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 8vw;
  padding-bottom: 6vw;
}

.arrowLeft--wrapper {
  background-color: var(--accent);
  width: var(--sqWidth);
  height: var(--sqWidth);
  box-shadow: var(--sqBorder);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}


/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .hero {
    grid-column: 1 / 8;
    grid-row: 2 / 6;
  }
  
  .hero__smiley {
    height: 10vw;
  }

  .linkLeft {
    grid-column: 5 / span 8;
    grid-row: 7 / 8;
  }

  .linkLeft__txt {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

}
  
/* DESKTOP */
@media only screen and (min-width: 1024px) {

  .hero {
    grid-column: 2 / 11;
    grid-row: 2 / 6;
  }

  .hero__smiley {
    height: 9vw;
    margin-left: 24px;
  }

  .hero__paragraph {
    max-width: 60vw;
  }

  .linkLeft {
    grid-column: 7 / 12;
    grid-row: 7 / 8;
  }

  .arrowLeft {
    width: 4vw;
    height: 4vw;
  }

  .linkLeft__txt {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}