.hero {
    grid-column: 1  / span 4;
    grid-row: 1 / 7;
    box-shadow: var(--sqBorder);
    background-color: var(--white);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

.hero {
    grid-column: 1 / 7;
    grid-row: 2 / 5;
}
  
  }
  
  @media only screen and (min-width: 1024px) {
  
    .hero {
        grid-column: 2 / 9;
        grid-row: 2 / 5;
    }
    
  }