.projectPreFooter__back--wrapper {
    background-color: var(--white);
    height: var(--sqWidth);
    width: var(--sqWidth);
    box-shadow: var(--sqBorder);
    -webkit-box-shadow: var(--sqBorder);
    -moz-box-shadow: var(--sqBorder);
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    transition: 150ms ease-in-out;
}

.projectPreFooter__random--wrapper {
    z-index: 2;
    background-color: var(--accent);
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    display: flex;
    box-shadow: var(--sqBorder); 
    -webkit-box-shadow: var(--sqBorder);
    -moz-box-shadow: var(--sqBorder);
    justify-content: space-between;
    align-items: center;
    transition: 150ms ease-in-out;
}

.projectPreFooter__random--imgwrapper {
    background-color: var(--accent);
    height: var(--sqWidth);
    width: var(--sqWidth);
    box-shadow: var(--sqBorder); 
    -webkit-box-shadow: var(--sqBorder);
    -moz-box-shadow: var(--sqBorder);
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: 150ms ease-in-out;
}

.projectPreFooter__random--txt {
    text-align: center;
    line-height: var(--sqWidth);
    width: calc(3*var(--sqWidth));
}


.projectPreFooter__back--wrapper:hover {
    background-color: var(--accent);
    transition: 150ms ease-in-out;
    cursor: pointer;
}


.projectPreFooter__random--wrapper:hover {
    background-color: var(--black);
    color: var(--accent);
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.projectPreFooter__random--wrapper:hover  .projectPreFooter__random--imgwrapper{
    background-color: var(--black);
    transition: 150ms ease-in-out;
}

/* TABLET */
@media only screen and (min-width: 768px){

    .projectPreFooter__back--wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / span 2;
    }

    .projectPreFooter__back {
        width: 4vw;
        height: 4vw;
    }

    .projectPreFooter__random--img {
        width: 4vw;
        height: 4vw;
    }
    .projectPreFooter__random--wrapper {
        grid-column: 5 / span 8;
        grid-row: 2 / span 2;
        
    }

    .projectPreFooter__random--txt {
        width: calc(3*var(--sqWidth));
    }

}


/* DESKTOP */
@media only screen and (min-width: 1024px) {

    .projectPreFooter__back--wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / span 2;
    }

    .projectPreFooter__random--wrapper {
        grid-column: 8 / span 12;
        grid-row: 2 / span 2;
    }

    .projectPreFooter__random--txt {
        width: calc(4*var(--sqWidth));
        line-height: calc(var(--sqWidth) - 3px);
    }

}