.projectGallery {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    box-shadow: var(--sqBorder);
    -webkit-box-shadow: var(--sqBorder);
    -moz-box-shadow: var(--sqBorder);
}

.projectGallery__item {
    height: auto;
    max-width: calc(4*var(--sqWidth));
    object-fit: cover;
    box-shadow: var(--sqBorder);
    -webkit-box-shadow: var(--sqBorder);
    -moz-box-shadow: var(--sqBorder);
}

/* Hide Scrollbar */

.projectGallery::-webkit-scrollbar {
    display: none;
  }


/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .projectGallery {
        flex-direction: row;
        overflow: auto;
        background-color: var(--black);
        box-shadow: var(--sqBorder);
        -webkit-box-shadow: var(--sqBorder);
        -moz-box-shadow: var(--sqBorder);
        transform: translate3d(0, 0, 0);
    }

    .projectGallery__item {
        width: auto;
        max-height: calc(4*var(--sqWidth));
        animation: moveSlideshow 12s linear infinite;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px){

    .projectGallery {
        flex-direction: row;
        overflow: auto;
    }

    .projectGallery__item {
        width: auto;
        max-height: calc(4*var(--sqWidth));
    }

}