.projectGallery {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    box-shadow: var(--sqBorder);
}

.projectGallery__item {
    width: calc(4*var(--sqWidth));
    object-fit: cover;
    margin-top: 5vw;
    box-shadow: var(--sqBorder);
}



/* Custom Scrollbar */

.projectGallery::-webkit-scrollbar {
    width: 2px;
  }
  
  .projectGallery::-webkit-scrollbar-track {
    background: var(--black); 
  }
  
  .projectGallery::-webkit-scrollbar-thumb {
    background: var(--black);
    border: 1px var(--accent) solid; 
    border-radius: 100px;
  }
  
  .projectGallery::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
  }
  


/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .projectGallery {
        flex-direction: row;
        overflow: auto;
    }

    .projectGallery__item {
        margin: 5vw;
        width: calc(8*var(--sqWidth));
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px){

    .projectGallery {
        flex-direction: row;
        overflow: auto;
    }

    .projectGallery__item {
        margin: 5vw;
        width: calc(12*var(--sqWidth));
    }
}