.square {
  width: var(--sqWidth);
  height: var(--sqWidth);
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--gray);
  -moz-box-shadow: inset 0px 0px 0px 1px var(--gray);
  box-shadow: inset 0px 0px 0px 1px var(--gray);
}

.row-container {
  display: grid;
  grid-template-columns: repeat(var(--sqCol), auto);
}
