.square {
  width: var(--sqWidth);
  height: var(--sqWidth);
  box-shadow: var(--sqBorder);
  background-color: var(--white);
  z-index: 0;
  transition: 1s ease-in-out;
}

.square:hover {
  background-color: var(--accent);
  transition: 250ms ease-in-out;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(var(--sqCol), auto);
}
