.header__wrapper {
  display: flex;
  background-color: var(--white);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--padding);
  height: calc(var(--sqWidth) / 2);
  -webkit-box-shadow: var(--sqBorder);
  -moz-box-shadow: var(--sqBorder);
  box-shadow: var(--sqBorder);
  z-index: 2;
}

.link__minor {
  display: none;
}

.link__minor--mobile {
  height: calc(0.5 * var(--sqWidth));
  width: calc(0.5 * var(--sqWidth));
  box-shadow: var(--sqBorder);
  background: var(--white);
  -webkit-background-size: 45%;
  background-size: 45%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../../images/nav.svg");
}

.header__txt--pixelate {
  font-family: "OnePixelRegular", sans-serif;
}

.header__txt {
  font-family: "SuisseIntl-Medium", sans-serif;
  line-height: calc(0.5 * var(--sqWidth));
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  transition: 200ms ease-in-out;
  border-top: 0 solid var(--accent);
  height:  calc(0.5 * var(--sqWidth));
}
.header__txt:hover {
  transition: 200ms ease-in-out;
  border-top: 15px solid var(--accent);
}

/* TABLET + DESKTOP */
@media only screen and (min-width: 768px) {
  .header__wrapper {
    padding-right: var(--padding);
  }

  .link__minor {
    display: flex;    
  }

  .link__minor--mobile {
    display: none;
  }

  .link__minor a:last-of-type{
    padding-left: 3vw;
  }

  .header__txt {
    font-size: 18px;
    line-height: calc(0.5 * var(--sqWidth));
  }
}
