:root {
  /* Color Variables */
  --accent: #11EDD3; /* Use for Accents */
  --black: #161616; /* Use for Text */
  --gray: #7B7B7B; /* Use for Grid */
  --white: #ffffff;

  /* Square-Wise Sizing Variables */
  --sqWidth: calc(100vw / 4);
  --sqCol: 4;
  
  /* Square Shadow Variable */
  --sqBorder: inset 0px 0px 0px 0.5px var(--gray);
}

body {
  /* Custom Cursor */
  background-color: var(--accent);
  /* cursor: url("../images/cursor.gif"), url("../images/cursor.cur"), default; */
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

  :root {
    --sqWidth: calc(100vw / 8);
    --sqCol: 8; 
  }

}

@media only screen and (min-width: 1024px) {

  :root {
    --sqWidth: calc(100vw / 12);
    --sqCol: 12;
  }
  
}