:root {
  /* Color Variables */
  --accent: #11edd3; /* Use for Accents */
  --black: #161616; /* Use for Text */
  --gray: #bbbbbb; /* Use for Grid */
  --white: #ffffff;

  /* Square-Wise Sizing Variables */
  --sqWidth: calc(100vw / 4);
  --sqCol: 4;

  /* Square Shadow Variable */
  --sqBorder: inset 0 0 0 1px var(--gray);

  /* Padding for header, footers... */
  --padding: calc(var(--sqWidth) / 3);
}

::selection {
  background: var(--accent);
}

body {
  background-color: var(--white);
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --sqWidth: calc(100vw / 8);
    --sqCol: 8;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --sqWidth: calc(100vw / 12);
    --sqCol: 12;
  }
}
