/* Font Import */
@font-face {
    font-family: 'OnePixel Regular';
    src: url('../fonts/OnePixel/OnePixelRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OnePixel/OnePixelRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/OnePixel/OnePixelRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/OnePixel/OnePixelRegular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/OnePixel/OnePixelRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'SuisseIntl Bold';
    src: url('../fonts/Suisse/SuisseIntl-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Suisse/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Suisse/SuisseIntl-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'SuisseIntl Regular';
    src: url('../fonts/Suisse/SuisseIntl-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Suisse/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Suisse/SuisseIntl-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

/* Typography Sizing -- Mobile*/
/* ex. PIXELS / lead */
h1 {
  font-family: "OnePixel";
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 67px;
  text-transform: uppercase;
}

/* ex. MY LITTLE PROJECT / head */
h2 {
  font-family: "OnePixel";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  text-transform: uppercase;
}

/* ex. SEE OUR STORY / action */
h3 {
  font-family: "OnePixel";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 50px;
}

h4 {
  font-family: "SuisseIntl Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
}

p {
  font-family: "SuisseIntl Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

