/* Font Import */
@font-face {
    font-family: 'OnePixel Regular';
    src: url('../fonts/OnePixel/OnePixelRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OnePixel/OnePixelRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/OnePixel/OnePixelRegular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/OnePixel/OnePixelRegular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/OnePixel/OnePixelRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'SuisseIntl-Bold';
    src: url('../fonts/Suisse/SuisseIntl-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Suisse/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Suisse/SuisseIntl-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('../fonts/Suisse/SuisseIntl-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Suisse/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Suisse/SuisseIntl-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Suisse/SuisseIntl-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

/* MOBILE/

/* ex. PIXELS / lead */
h1 {
  font-family: 'SuisseIntl-Medium';
  font-size: 16vw;
  line-height: 20vw;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ex. MY LITTLE PROJECT / head */
h2 {
  font-family: 'SuisseIntl-Medium';
  font-size: 11vw;
  line-height: 10vw;
  text-transform: uppercase;
}

/* ex. SEE OUR STORY / actions */
h3 {
  font-family: 'SuisseIntl-Medium';
  font-size: 8vw;
  line-height: var(--sqWidth);
  text-transform: uppercase;
}

/* ex. Small My Little Project + Hero Paragraph */
h4 {
  font-family: 'SuisseIntl-Regular';
  font-size: 5vw;
  line-height: 140%;
}

p {
  font-family: 'SuisseIntl-Regular';
  font-size: 14px;
  line-height: 150%;
}

/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  h1 {
    font-size: 14vw;
    line-height: 14vw;
  }

  h3 {
    font-size: 3vw;
  }

  h4 {
    font-size: 3.5vw;
  }

}

/* DESKTOP */

@media only screen and (min-width: 1024px) {

  h1 {
    font-size: 12vw;
    line-height: 13vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  h4 {
    font-size: 2vw;
  }

  p {
    font-size: 18px;
  }
}