.aboutPoem--wrapper {
    z-index: 2;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    justify-content: center;
    align-content: center;
    background-color: var(--white);
    box-shadow: var(--sqBorder);
    -webkit-box-shadow: var(--sqBorder);
    -moz-box-shadow: var(--sqBorder);
    grid-column: 1 / span 4;
    grid-row: 2 / 12;
    display: flex;
    flex-direction: column;
}

.aboutPoem__title {
    margin-bottom: 24px;
}


/* TABLET */
@media only screen and (min-width: 768px){

    .aboutPoem--wrapper {
        padding-top: 0;
        padding-bottom: 0;
        grid-column: 3 / span 4;
        grid-row: 2 / span 10;
    }

}


/* DESKTOP-TABLET EDGE CASE */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {

    .aboutPoem--wrapper {
        padding-top: 0;
        padding-bottom: 0;
        grid-column: 4 / span 6;
        grid-row: 2 / 13;
    }

}

/* DESKTOP */
@media only screen and (min-width: 1440px) {

    .aboutPoem--wrapper {
        padding-top: 0;
        padding-bottom: 0;
        grid-column: 4 / span 6;
        grid-row: 4 / 12;
    }

}