.projectGalleryProcess {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: var(--sqBorder);
}

.projectGalleryProcess__item {
    width: calc(4*var(--sqWidth));
    height: auto;
    object-fit: cover;
    box-shadow: var(--sqBorder);
    border: 1px var(--gray) solid;
}

/* Hide Scrollbar */

.projectGalleryProcess::-webkit-scrollbar {
    display: none;
  }


/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .projectGalleryProcess {
        flex-direction: row;
        overflow: auto;
    }

    .projectGalleryProcess__item {
        width: auto;
        max-height: calc(3*var(--sqWidth));
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px){

    .projectGalleryProcess {
        flex-direction: row;
        overflow: auto;
    }

    .projectGalleryProcess__item {
        width: auto;
        max-height: calc(3*var(--sqWidth));
    }
}